@font-face {
  font-family: D-DIN-Bold;
  src: url(../fonts/D-DIN-Bold.woff2);
}



body{
  background-color: #0b0b0b;
  margin: 0;
}
header{
  position: relative;
}


.navbar-left {
    overflow: hidden;
    background-color: #0b0b0b;
    position: static;
    top: 0px;
  
  }
  .navbar-left ul li  {
    float: left;
    display: inline;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-family: D-DIN-Bold;
    font-size: 16px;  
    line-height: 1.4;  
  }
  .navbar a:hover {
    
  }

  .navbar-right {
    overflow: hidden;
    background-color: #0b0b0b;
    position: static;
    top: 0px;
    width: 100%;
  }
  .navbar-right ul li  {
    float: right;
    display: inline;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    font-family: D-DIN-Bold;
    font-size: 16px;  
    line-height: 1.4;  
   
    
  }

  